.jumbotron
{
    background-image: url("../img/im1.jpg");
    background-size: cover;
    height: 100%;
}

.card-title{
    font-size:16px;
    font-weight:400;
    color:#484848;
    line-height:1.35em;
    height:34px;
}

#product-details h1{
    font-size:25px;
    font-weight:700; 
}

.write-review {
    margin-left: -20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}