
@{
    ViewBag.Title = "About";
}

<br />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Hakkımızda</h2>
            <hr />
            <p>
                Türkiye'nin en büyük online alışveriş sitesi <b>sepetsepetalisveris</b>, 2020 yılından bu yana hizmet veriyor. Tolgahan Kızılpınar Holding bünyesinde faaliyet gösteren online alışveriş şirketimiz, yenilikleri ile Türkiye'nin dijital alışveriş sektöründe kısa zamanda lider olmaya doğru ilerliyor. Online alışveriş deneyimini her geçen gün daha kolay hale getiren, dijitalleşen dünyanın gereklerine uygun adımlar atarak bu avantajları daha etkin kullanabilen <b>sepetsepetalisveris</b>, tüm ziyaretçilerine mesafe farketmeksizin hızlı teslimat, bol ürün çeşidi, ve kargo indirimleriyle sektörde rakiplerine fark atıyor.<br /><br />

                Teknolojnin En İyi Markaları <b>sepetsepetalisveris</b>'de, peki sen nerdesin?<br /><br />

                <b>sepetsepetalisveris</b>'in avantajlı fiyatları ile  sunduğu elektronik ürünler içinde bilgisayar modellerinden cep telefonu ürünlerine, laptop seçeneklerine, drone  ürünlerine kadar birçok alternatif yer alıyor. En iyi teknoloji markaları ve özel ürünlerle en uygun fiyat ve en avantajlı ödeme seçenekleri ile <b>sepetsepetalisveris</b>'de buluşturmanın mutluluğunu yaşıyoruz.<br /><br />
                Dünyanın en ünlü elektronik markalarından Apple iPhone, Huawei, Samsung ve Xiaomi, Toshiba, MSI, Asus, Nikon, Xerox... bunlardan sadece bazıları ve <b>sepetsepetalisveris</b>de.
            </p>
            <br /><br />
            <img src="~/theme/img/hakkimda.jpg" style="height:300px" ; />
        </div>
    </div>
</div>



