
@{
    ViewBag.Title = "Advantages";
}


<br />


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Fırsatlarımız</h2>
            <hr />
            <p>
                Türkiye'nin en büyük online alışveriş sitesi <b>sepetsepetalisveris</b>,de <br /><br />
                <b>Ücretsiz Kargo</b>, 50 TL ve üzeri tüm siparişlerde kargo<u>BEDAVA</u>
                <br /><br />

                <b>Kolay Değişim</b>, ürünlerinizi 30 gün içinde <u>GERİ İADE</u> hakkı<br /><br />

                <b>Doğum Gününüze Özel</b> o gün için sitemizden alışveriş yapan müşterimize sipariş tutarından en yüksek miktarlı ürün <u>%30 İNDİRİMLİ</u><br />
            </p>

            <img src="~/theme/img/gif1.gif" style="height:250px" ; /> &nbsp;&nbsp;&nbsp;

            <img src="~/theme/img/kargo.gif" style="height:250px" ; />&nbsp;&nbsp;&nbsp;

            <img src="~/theme/img/kargo1.png" style="height:180px" ; />

            <br /><br /><br /><br /><br />
        </div>
    </div>
</div>


