@model SampleEcommerce.MvcWeb.Models.ShippingDetails
@{
    ViewBag.Title = "Completed";
}

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Siparişiniz Tamamlandı...</h2><br /><br />
            <h4>
                Sayın @User.Identity.Name,
                <br />
                Satın aldığınız ürünler en kısa sürede kargoya verilecektir.
            </h4>
            <br />         
                <img src="~/theme/img/kargo5.jpg" style="height:300px" ; />
        </div>
    </div>
</div>





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
